$colors: (

        darker: #142121,
        dark: #0f7aa9,
        base: #339DDB,
        light: #d8d8d8,
        lighter: #f5fcfc,
        special : #ee8c0b,
        extra : #f80909
);
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}