@import "./maps";

.decor {
  width: 100%;
  height: 40px;
  background: color('base');
  position: fixed;
  top: 0;

}
nav {
  height: 180px;
  width: 100%;
  top: 40px;
  position: fixed;

  .container {
    //flex-direction: column
    background: white;

  #logo {
    h2 {
      font-family: "MontserratB";
      font-weight: 600;
      font-size: 40px;
      color: color('darker');
      span {
        color: darkred;
      }
      h3  {
        font-size: 1.2rem;
      }
    }



  }
    #nav {
      width: 100%;
      height: 81px;
      display: flex;
      flex-direction: column;
      align-items: center;

  ul {
    width: 600px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 10px;

      a {
        position: relative;
        display: block;
        height: 30px;
        padding-bottom: 5px ;
        margin-top: auto;
        margin-bottom: 10px;
        font-size: 1.3rem;
        letter-spacing: .08rem;
        $anime: #130d0d;
        color: $anime;
        line-height: 30px;
        overflow: hidden;






        &:after  {
          content: "";
          @extend a;
          //background: linear-gradient( 90deg, #e7decd, #78c2ee);
          background: url("../img/button.jpg")   ;
          background-size: cover;
          position: relative;
          top: -30px;
          //transition: 3s ease-in-out;
          //z-index: -1;
          width: 100%;
          //left: 100px;

          $i:0;
          animation: animate2 2s forwards ease-in-out ;
          animation-iteration-count: $i;
          opacity: 0;


          @keyframes animate2 {
            1% {
              left: 0;
              opacity: 0;
              $anime: #130d0d;
            }

            2% {
              opacity:0;
              left: -150%;

            }
            10% {
              left: -150%;
              opacity: 1;
              $anime: #ffffff;


            }

            100% {
              left: 0;
              opacity: 0;
              $anime: #130d0d;


            }


          }

        }


      &:hover {
        color: #b81818;
        //color: white;

        animation-iteration-count: infinite;
      }
      }
    }



  }
    }
}
}
header  {
  width: 100%;
  height: 100px;
  top: 190px;
  background: url("../img/blueBg.jpeg");
  position: fixed;
  text-align: center;
 h1 {
   color: #f6f6f6;

   line-height: 100px;
   z-index: 1;
   animation: animate1 10s forwards 1s ease-in-out;
   animation-iteration-count: 10;
 }

@keyframes animate1 {
    25% {
      color: #debd93;
    }
  50% {
    color: #ee8c0b;

  }
  75% {
    color: #e59f11;
  }
  100% {
    color: #f1f0ef;
  }



}
}
#home1 {
  display: flex;
}
section#home {
  position: relative;
  width: 70%;
  top: 300px;
  margin-top: 20px;
  z-index: -1;
  article {
    z-index: -1;
    width: 100%;
    margin-top: 30px;
    padding: 30px 30px 0 30px  ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border: 3px solid #d3d3d3;
    h2 {
      font-family: Helvetica ;
      font-weight: 600;
      font-size: 1.8rem;
      letter-spacing: .05rem;
      margin-bottom: 20px;
    }

      .comments {
        display: flex;
        height: 45px;
        align-items: center;
        justify-content: space-around;
        width: 450px;
        font-family: MontserratM, sans-serif;
        font-weight: 600;
        font-size: .9rem;
        color: #837a7a;
        i {
          font-size: 1.2rem;
          padding-right: 10px;
        }


      }

  }
}
aside {
  position: fixed;
  left: 75%;
  top: 380px;
  margin-left: 5%;
  width: 25%;
  padding: 10px 10px 0 10px  ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border: 3px solid #d3d3d3;
   article.news {
     .asideImg {
       width: 90%;
       height: 100px;
     }
   }

}




