* {
  padding:0  ;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'MontserratB';
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: 'MontserratM';
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'MontserratT';
  src: url("../fonts/Montserrat-Thin.ttf");
}
@import "./background";
@import "./maps";
@import "./header";

.container {
  max-width: 1100px;
  margin: 0 auto;
}

body {
  font-size: 17px;
  font-size: 1em;
  font-family: 'OpenSans-Regular';


}
p  {
  font-family: 'OpenSans-Regular';
  font-size: 1.2rem;
  left: .1rem;
  line-height: 1.6;
}
h1, h2, h3, h4  {
  font-family: "MontserratM";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
main {
  width: 100%;
  background: url("../img/bg12.jpg")no-repeat center center/cover;
  position: fixed;
  height: 75vh;
  top: 270px;
  z-index: -2;




}






